<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>FloodML</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <!-- Favicons -->
    <link
      href="{{ url_for('static', filename='img/favicon-2.png') }}"
      rel="icon"
    />
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700"
      rel="stylesheet"
    />

    <!-- Bootstrap CSS File -->
    <link
      href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}"
      rel="stylesheet"
    />

    <!-- Libraries CSS Files -->
    <link
      href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='lib/animate/animate.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='lib/ionicons/css/ionicons.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='lib/lightbox/css/lightbox.min.css') }}"
      rel="stylesheet"
    />
    <!-- Main Stylesheet File -->
    <link
      href="{{ url_for('static', filename='css/style.css') }}"
      rel="stylesheet"
    />
  </head>

  <body>
    <!--==========================
  Header
  ============================-->
    <header id="header">
      <div id="topbar">
        <div class="container">
         
        </div>
      </div>

      <div class="container">
        <div class="logo float-left">
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <h1 class="text-light">
            <a href="#intro" class="scrollto"><span>FloodML</span></a>
          </h1> -->
          <div><h2 style="font-family: Georgia, 'Times New Roman', Times, serif;color:blue">DisasterML</h2></div>
        </div>

        <nav class="main-nav float-right d-none d-lg-block">
          <ul>
            <li class="active"><a href="index.html">Home</a></li>
            <li><a href="plots.html">Plots</a></li>
            <li><a href="heatmaps.html">Heatmaps</a></li>
            <li><a href="satellite.html">Satellite</a></li>
            <li><a href="predicts.html">Predict</a></li>
          </ul>
        </nav>
        <!-- .main-nav -->
      </div>
    </header>
    <!-- #header -->

    <!--==========================
    Intro Section
  ============================-->
    <section id="intro" class="clearfix">
      <div class="container d-flex h-100">
        <div class="row justify-content-center align-self-center">
          <div class="col-md-5 intro-info order-md-first order-last" style="background-color: transparent;padding-right:50px;">
            <!-- <h2 style="color:#00BFFF;">FloodML</h2> -->
            <a href="#header" class="scrollto"
            ><img
              
          /></a>
            <h3 style="padding-top:30px;padding-left:10px;line-height: 40px;">Helping prepare people and their governments, one flood prediction at a time</h3>
            <br />
            <div style="padding-left:10px;">
              <a href="#about" class="btn-get-started scrollto">Get Started</a>
            </div>
          </div>

          <div class="col-md-7 intro-img order-md-last order-first" style="background-color: transparent;">
            
            
          </div>
        </div>
      </div>
    </section>
    <!-- #intro -->

    <main id="main">
      
  

      
      
          

   

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- Uncomment below i you want to use a preloader -->
    <!-- <div id="preloader"></div> -->

    <!-- JavaScript Libraries -->
    <script src="{{ url_for('static', filename='lib/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/jquery/jquery-migrate.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/easing/easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/mobile-nav/mobile-nav.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/wow/wow.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/waypoints/waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/counterup/counterup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/isotope/isotope.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/lightbox/js/lightbox.min.js') }}"></script>
    <!-- Contact Form JavaScript File -->
    <script src="{{ url_for('static', filename='contactform/contactform.js') }}"></script>

    <!-- Template Main Javascript File -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
