<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>FloodML</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <!-- Favicons -->
    <link
      href="{{ url_for('static', filename='img/favicon-2.png') }}"
      rel="icon"
    />
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700"
      rel="stylesheet"
    />

    <!-- Bootstrap CSS File -->
    <link
      href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}"
      rel="stylesheet"
    />

    <!-- Libraries CSS Files -->
    <link
      href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='lib/animate/animate.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='lib/ionicons/css/ionicons.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='lib/lightbox/css/lightbox.min.css') }}"
      rel="stylesheet"
    />
    <!-- Main Stylesheet File -->
    <link
      href="{{ url_for('static', filename='css/style.css') }}"
      rel="stylesheet"
    />

    <style>
      input[type="text"],
      select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }

      input[type="submit"] {
        width: 100%;
        background-color: #4caf50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }

      input[type="submit"]:hover {
        background-color: #45a049;
      }
    </style>
  </head>

  <body>
    <!--==========================
  Header
  ============================-->
    <header id="header">
      <div id="topbar">
        <div class="container">
          <div class="social-links">
            <!-- <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a> -->
          </div>
        </div>
      </div>

      <div class="container">
        <div class="logo float-left">
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <h1 class="text-light">
            <a href="index.html" class="scrollto"><span>FloodML</span></a>
          </h1> -->
          <a href="index.html" class="scrollto"
            ><img
              style="margin-top: -5px; min-height: 50px;"
              src="{{ url_for('static', filename='img/logo.png') }}"
              alt=""
              class="img-fluid"
          /></a>
        </div>

        <nav class="main-nav float-right d-none d-lg-block">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="plots.html">Plots</a></li>
            <li><a href="heatmaps.html">Heatmaps</a></li>
            <li class="active"><a href="predicts.html">Predict</a></li>
          </ul>
        </nav>
        <!-- .main-nav -->
      </div>
    </header>
    <!-- #header -->

    <main id="main">
      <br /><br /><br /><br /><br />
      <!--==========================
      Services Section
    ============================-->
      <section id="services" class="section-bg">
        <div class="container">
          <header class="section-header">
            <h3>Select City!</h3>
            <p>
              Enter a city in India to get information about it!
            </p>
            <div>
              <form action="/predicts.html" method="POST">
                <input
                  type="text"
                  id="fname"
                  name="firstname"
                  placeholder="Enter City Name"
                />

                <input type="submit" value="Submit" />
              </form>
            </div>
          </header>

          <div class="row"></div>
        </div>
      </section>
      <!-- #services -->

      <!--==========================
          About Us Section
        ============================-->
      <section id="about">
        <div class="container">
          <header class="section-header">
            <h3>Info about city!</h3>
            <p>
              Info about city!
            </p>
          </header>

          <div class="row">
            <p>Info: {{ message }}</p>
          </div>
        </div>
      </section>
      <!-- #about -->
    </main>

    <!--==========================
    Footer
  ============================-->
    <footer id="footer" class="section-bg" style="background-color: #f5f8fd;">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="row">
                <div class="col-sm-11">
                  <div class="footer-info">
                    <!-- <h3>FloodML</h3> -->
                    <a href="index.html" class="scrollto"
                      ><img
                        style="margin-top: 0px; max-height: 100px;"
                        src="{{ url_for('static', filename='img/logo.png') }}"
                        alt=""
                        class="img-fluid"
                    /></a>
                    <p style="padding-top: 20px;">
                      FloodML is a tool that uses Machine Learning and Data
                      Visualization to show you plots and heatmaps with realtime
                      flood information, as well locational predictions about
                      future floods and potential damage.
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form">
                <h4>Send us a message</h4>

                <form action="" method="post" role="form" class="contactForm">
                  <div class="form-group">
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      id="name"
                      placeholder="Your Name"
                      data-rule="minlen:4"
                      data-msg="Please enter at least 4 chars"
                    />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group">
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      id="email"
                      placeholder="Your Email"
                      data-rule="email"
                      data-msg="Please enter a valid email"
                    />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      name="subject"
                      id="subject"
                      placeholder="Subject"
                      data-rule="minlen:4"
                      data-msg="Please enter at least 8 chars of subject"
                    />
                    <div class="validation"></div>
                  </div>

                  <div id="sendmessage">
                    Your message has been sent. Thank you!
                  </div>
                  <div id="errormessage"></div>

                  <div class="text-center">
                    <button type="submit" title="Send Message">
                      Send Message
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- #footer -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- Uncomment below i you want to use a preloader -->
    <!-- <div id="preloader"></div> -->

    <!-- JavaScript Libraries -->
    <script src="{{ url_for('static', filename='lib/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/jquery/jquery-migrate.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/easing/easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/mobile-nav/mobile-nav.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/wow/wow.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/waypoints/waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/counterup/counterup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/isotope/isotope.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/lightbox/js/lightbox.min.js') }}"></script>
    <!-- Contact Form JavaScript File -->
    <script src="{{ url_for('static', filename='contactform/contactform.js') }}"></script>

    <!-- Template Main Javascript File -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
