<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>FloodML</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700"
      rel="stylesheet"
    />

    <!-- Bootstrap CSS File -->
    <link
      href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}"
      rel="stylesheet"
    />

    <!-- Libraries CSS Files -->
    <link
      href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='lib/animate/animate.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='lib/ionicons/css/ionicons.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='lib/lightbox/css/lightbox.min.css') }}"
      rel="stylesheet"
    />
    <!-- Main Stylesheet File -->
    <link
      href="{{ url_for('static', filename='css/style.css') }}"
      rel="stylesheet"
    />
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>

  <body>
    <!--==========================
  Header
  ============================-->
    <header id="header">
      <div id="topbar">
        <div class="container">
         
        </div>
      </div>

      <div class="container">
        <div class="logo float-left">
          <div><h2 style="font-family: Georgia, 'Times New Roman', Times, serif;color:blue">DisasterML</h2></div>
        </div>

        <nav class="main-nav float-right d-none d-lg-block">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="plots.html">Plots</a></li>
            <li><a href="heatmaps.html">Heatmaps</a></li>
            <li class="active"><a href="satellite.html">Satellite</a></li>
            <li><a href="predicts.html">Predict</a></li>
          </ul>
        </nav>
        <!-- .main-nav -->
      </div>
    </header>
    <!-- #header -->

    <main id="main">
      <br /><br /><br /><br /><br />
      <!--==========================
      Services Section
    ============================-->
      <section id="services" class="section-bg">
        <div class="container">
          <header class="section-header">
            <h3>Satellite Image Analysis</h3>
            <div class="col-lg-12" align="center" style="font-size: 20px;">
              <!-- We used powerful machine learning to analyze our datasets, and plotted the results into compelling and interactive data visualizations.  -->
                <!-- The visualizations show flood predictions, damage predictions, and heavy rainfall predictions across India, taking in factors such as precipation, wind speed, humidity, temperature, cloud cover, as well as . -->
            </div>
          </header>

          <br>
          <br>

          <div class="row">
            <div class="col-lg-12" align="center">
              <form class="form-inline" method="POST" action="satellite.html" style="display: inline-block;">
                <div class="form-group">
                  <div class="input-group">
                    <select name="place" class="selectpicker form-control" style="width:150px;">
                      {% for item in data %}
                      <option value="{{ item.name }}" {{ item.sel }}>{{ item.name }}</option>
                      {% endfor %}
                    </select>
                    <select name="date" class="selectpicker form-control" style="width:150px;margin-left:15px;">
                      {% for item in months %}
                      <option value="{{ item.name }}" {{ item.sel }}>{{ item.name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <button type="submit" class="btn btn-default" style="margin-left:15px;background-color:#1bb1dc;color:white;">Go</button>
                </div>
              </form>
            </div>

            <br><br><br><br>

            <div class="col-lg-12" align="center">
              <h3>{{ text }}</h3>
              <img width=1000 src="data:image/png;base64, {{ image_file }}" />
              <img style="margin-top:35px;margin-bottom:20px;" width=900 src="{{ url_for('static', filename='processed_satellite_images/cbar.png') }}">
            </div>

          </div>
        </div>
      </section>

      <!-- #services -->

      <!--==========================
          About Us Section
        ============================-->
      <!-- <section id="about">
        <div class="container">
          <header class="section-header">
            <h3>More Plots!</h3>
            <p>
              Add in some more plots!.
            </p>
          </header>

          <div class="row"></div>
        </div>
      </section> -->
      <!-- #about -->
    </main>

   
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- Uncomment below i you want to use a preloader -->
    <!-- <div id="preloader"></div> -->

    <!-- JavaScript Libraries -->
    <script src="{{ url_for('static', filename='lib/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/jquery/jquery-migrate.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/easing/easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/mobile-nav/mobile-nav.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/wow/wow.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/waypoints/waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/counterup/counterup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/isotope/isotope.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/lightbox/js/lightbox.min.js') }}"></script>
    <!-- Contact Form JavaScript File -->
    <script src="{{ url_for('static', filename='contactform/contactform.js') }}"></script>

    <!-- Template Main Javascript File -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
